body{
	background:#e9ecf3;
	overflow-x: hidden";
}

ul,li,h1 {
	margin: 0;
	padding: 0;
}

.tree{
	
	border-radius: 6px;
	
}

.tree a{
	text-decoration: none;
}


.parentMenu{

	padding:17px 14px 17px 30px;
	font-size:14px;
	color:#485a6a;
	box-sizing: border-box;
}

.parentMenu:hover{
	color:#5b9bd1;
	background:#f2f6f9;
	border-left: 3px solid;
}

.childMenu {
	
	box-sizing: border-box;
}

.childMenu a{
	color:#485a6a;
	font-size:14px;
	padding:17px 14px 17px 48px;
	display: block;
	font-weight: 400;
	
}

.childMenu a:hover{
	color:#5b9bd1;
	background:#f2f6f9;
	font-size:16px;
	border-left: 3px solid;
}

